<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>{{ pokemon?.name | uppercase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center ion-padding">
    <ion-img 
      [src]="pokemon?.sprites?.front_default" 
      style="width: 150px; height: 200px;"
      alt="Imagem do {{ pokemon?.name }}">
    </ion-img>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        #{{ pokemon?.id }} - {{ pokemon?.name | uppercase }}
      </ion-card-title>
      <ion-card-subtitle>
        Tipo: {{ getTypesString() }}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-label>Altura</ion-label>
          <ion-label>{{ (pokemon?.height / 10) | number:'1.1-1' }} m</ion-label>
        </ion-item>
        
        <ion-item>
          <ion-label>Peso</ion-label>
          <ion-label>{{ (pokemon?.weight / 10) | number:'1.1-1' }} kg</ion-label>
        </ion-item>

        <ion-item-divider>
          <ion-label>ESTATÍSTICAS DETALHADAS</ion-label>
        </ion-item-divider>

        @if (stats.length) {
          @for (stat of stats; track stat.name) {
            <ion-item>
              <ion-label>{{ stat.name }}</ion-label>
              <ion-label slot="end">{{ stat.value }}</ion-label>
              <ion-progress-bar 
                [value]="stat.value/stat.max"
                [color]="getProgressBarColor(stat.name)"
                style="height: 8px; margin-left: 16px">
              </ion-progress-bar>
            </ion-item>
          }
        } @else {
          <ion-item>
            <ion-label color="medium">Carregando estatísticas...</ion-label>
          </ion-item>
        }
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>